In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

# Here we load the datasets

In [66]:
df_training = pd.read_csv('/kaggle/input/titanic/train.csv')
df_test = pd.read_csv('/kaggle/input/titanic/test.csv')

In [67]:
df_training

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [68]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

# Preprocessing of data

First let's see the number of NaN values in the train dataset

In [69]:
#first way to count null values
df_training.isna().count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          891
Embarked       891
dtype: int64

In [70]:
#Second way to count null values
df_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [71]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

From the previous output of the cell we can see that cabin columns have a lot of null-values, so we drop this column. We can also see that the column "Age" have 177 Missing values so we're gonna fill thowse values with IterativeImputer

## One-Hot-Encode the data

In [72]:
#Here we one-hot-encode the columns sex and embarked
df_training = pd.get_dummies(df_training, columns = ['Sex','Embarked'])
df_test = pd.get_dummies(df_test, columns = ['Sex','Embarked'])

The features Cabin,Name and ticket are dropped because does not apport to a model prediction ()

In [73]:
df_training.drop('Cabin', inplace=True, axis=1)
df_training.drop('Name', inplace=True, axis=1)
df_training.drop('Ticket', inplace=True, axis=1)
df_training.drop('PassengerId', inplace=True, axis=1)

ids = df_test['PassengerId']
df_test.drop('Cabin', inplace=True, axis=1)
df_test.drop('Name', inplace=True, axis=1)
df_test.drop('Ticket', inplace=True, axis=1)
df_test.drop('PassengerId', inplace=True, axis=1)

#

In [74]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

#df_training = df_training[df_training['Age'].notna()]
#df_training.info()

impute_it = IterativeImputer()
v = impute_it.fit_transform(df_training)
v2 = impute_it.fit_transform(df_test)

df_training = pd.DataFrame(v, columns=df_training.columns)
df_test = pd.DataFrame(v2, columns=df_test.columns)

In [75]:
from sklearn.model_selection import train_test_split
X = df_training.loc[:, df_training.columns != 'Survived']
Y = df_training['Survived']

X_train, X_test, y_train, y_test = train_test_split(
 X, Y, random_state=0)

In [76]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model = model.fit(X_train, y_train)

In [77]:
from sklearn import linear_model
model_2 = linear_model.LinearRegression()
model_4 = linear_model.BayesianRidge()
model_2 = model_2.fit(X_train, y_train)
model_4 = model_4.fit(X_train, y_train)

In [78]:
from sklearn import svm
model_3 = svm.SVC()
model_3 = model_3.fit(X_train, y_train)

In [79]:
from sklearn.neural_network import MLPClassifier
model_5 = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
model_5.fit(X_train, y_train)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='lbfgs')

In [80]:
score_1 = model.score(X_test, y_test, sample_weight=None)
score_2 = model_2.score(X_test, y_test, sample_weight=None)
score_3 = model_3.score(X_test, y_test, sample_weight=None)
score_4 = model_4.score(X_test, y_test, sample_weight=None)
score_5 = model_5.score(X_test, y_test, sample_weight=None)


print('Score of decision tree: '+ str(score_1))
print('Score of linear_regresion '+ str(score_2))
print('Score of SVM '+ str(score_3))
print('Score of BayesianRidge '+ str(score_4))
print('Score of Neural Network Model '+ str(score_5))

Score of decision tree: 0.7443946188340808
Score of linear_regresion 0.41730561008186273
Score of SVM 0.7219730941704036
Score of BayesianRidge 0.4172379458122767
Score of Neural Network Model 0.6233183856502242

## Making predictions

In [91]:
#model.predict(df_test)
data = {'PassengerId': ids,
        'Survived': model.predict(df_test) }
predicciones = pd.DataFrame(data).set_index('PassengerId')
#filepath = Path('kaggle/working/out.csv')  
predicciones.to_csv('/kaggle/working/out.csv')
predicciones

             Survived
PassengerId
892               0.0
893               0.0
894               0.0
895               1.0
896               1.0
...               ...
1305              0.0
1306              1.0
1307              0.0
1308              0.0
1309              1.0

[418 rows x 1 columns]